.tulisan_satu{
        color: red;
        font-family: sans-serif;
        font-style: normal;
}
.tulisan_dua{
        color: green;
        font-family: 24pt;
        font-style: italic;
}
.tulisan_tiga{
        color: blue;
        font-family: bold;
        font-style: oblique;
}
